<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">

    <title>Обучение персонала | Регистрация</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>
<body>
<div id="wrapper">
    <div id="page-wrapper" class="gray-gradient">
        <div class="row border-left white">
            <nav class="nav static-top" role="navigation">
                <div class="header-nav">
                    <h1>
                        <a href="#" class="logo" style="border-left:solid 5px; position: fixed; left: 10px ">
                            Обучение персонала
                        </a>
                    </h1>
                </div>
                <div>
                    <ul style="float: right; position: fixed; right: 20px">
                        <li>
                            <a href="/admin">
                                <i class="fa fa-sign-in"></i>Вход
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="wrapper wrapper-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="float-e-margins">
                            <div class="title" style="padding-top: 35px">
                                <h3>Регистрация администратора</h3>
                            </div>
                            <div class="content">
                                <form id="registerForm" action="/admin/signup" method="post" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="lastName">Фамилия</label>
                                        <div class="col-sm-9">
                                            <input id="lastName" type="text" class="form-control" name="lastName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="firstName">Имя</label>
                                        <div class="col-sm-9">
                                            <input id="firstName" type="text" class="form-control" name="firstName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="fiddleName">Отчество</label>
                                        <div class="col-sm-9">
                                            <input id="middleName" type="text" class="form-control" name="middleName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="Post">Должность</label>
                                        <div class="col-sm-9">
                                            <select size="1" id="Post" class="form-control" name="Post">
                                                <option disabled>Укажите должность которую вы занимаете</option>
                                                <option value="Директор">Директор</option>
                                                <option value="HR-менеджер">HR-менеджер</option>
                                                <option value="Составитель курсов">Составитель курсов</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="username">Email</label>
                                        <div class="col-sm-9">
                                            <input id="username" type="email" class="form-control" name="username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label" for="password">Пароль</label>
                                        <div class="col-sm-9">
                                            <input id="password" type="password" class="form-control" name="password">
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Зарегистрироваться">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mainly scripts -->
<script src="/plugins/bower_components/jquery/dist/jquery.js"></script>
<script src="/plugins/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/plugins/bower_components/metisMenu/dist/metisMenu.js"></script>
<script src="/plugins/bower_components/slimScroll/jquery.slimscroll.min.js"></script>

<script src="/plugins/bower_components/PACE/pace.min.js"></script>
<!--JQuery Validation-->
<script src="/plugins/bower_components/validate/validate.min.js"></script>
<script>
    jQuery.extend(jQuery.validator.messages, {
        required: "Это поле должно быть заполнено.",
        email: "Введите правильный адрес электронной почты.",
        minlength: jQuery.validator.format("Минимальное количестово символов {0}.")
    });
    jQuery.validator.addMethod("lettersonly", function(value, element) {
        return this.optional(element) || /^[а-яА-ЯёЁa-zA-Z-]+$/i.test(value);
    }, "Это поле дожно содержать только буквы.");
    $(document).ready(function() {
        $("#registerForm").validate({
            rules: {
                firstName: {
                    lettersonly: true,
                    required: true
                },
                lastName: {
                    lettersonly: true,
                    required: true
                },
                middleName: {
                    lettersonly: true,
                    required: true
                },
                Post: {
                    required: true
                },
                username: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 8
                }
            },
            highlight: function(element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function(element) {
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element) {
                if(element.parent('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });

    });
</script>
</body>
</html>