<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TraScaDev | Сброс пароля</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <style>
        .passwordBox {
            max-width: 460px;
            margin: 0 auto;
            padding: 100px 20px 20px 20px;
        }
    </style>
</head>
<body class="top-navigation">
<div id="wrapper">
    <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom white-bg">
            <nav class="nav nav-static-top" role="navigation">
                <div class="nav-header">
                    <button aria-controls="nav" aria-expanded="false" data-target="#navbar" data-toggle="collapse"
                            class="nav-toggle collapsed" type="button">
                        <i class="fa fa-reorder"></i>
                    </button>
                    <a href="#" class="nav-brand">Обучение персонала</a>
                </div>
                <div class="nav-collapse collapse" id="nav">
                    <ul class="nav nav-top-links nav-right">
                        <li>
                            <a href="/admin">
                                <i class="fa fa-sign-in"></i> Вход
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="wrapper wrapper-content">
            <div class="container">
                <div class="passwordBox animated fadeInDown">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ibox-content">
                                <h2 class="font-bold">Восстановление пароля</h2>
                                <p>
                                    Введите Ваш адрес электронной почты, который Вы использовали при регистрации.
                                </p>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <form id="reset-form" class="m-t" role="form" action="/admin/reset" method="post">
                                            <div class="form-group">
                                                <input type="email" name="username" class="form-control" placeholder="Адрес Email" required="">
                                            </div>
                                            <button type="submit" class="btn btn-primary block full-width m-b">Отправить новый пароль</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>