<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TraStaDev</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap.css">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/plugins/jQuery.mmenu-master/dist/css/jquery.mmenu.css" />
    <link type="text/css" rel="stylesheet" href="/css/menustyle.css" />
    <link href="/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="/plugins/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="/plugins/jQuery.mmenu-master/dist/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });
    </script>

    <!--DataTables-->
    <link href="bower_components/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="bower_components/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="bower_components/DataTables/media/css/dataTables.jqueryui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

</head>

<div id="headerm">
    <a href="#menu"></a>
    <strong class="font-bold"><%=admin.Post+': '+admin.lastName+' '+admin.firstName%></strong>
</div>
<nav id="menu">
    <ul>
        <% if(typeof from == 'undefined'){from = null}%>
        <li <% if(from === 'users' || from === 'userfired'){%>class="active"<%}%>>
            <a href="/users"><i class="fa fa-th-large"></i><span class="nav-label">Сотрудники</span> </a>
            <ul class="nav nav-second-level">
                <li <%if(from === 'users'){%>class="active"<%}%>><a href="/users">Управление сотрудниками</a> </li>
                <li <%if(from === 'usersfired'){%>class="active"<%}%>><a href="/users/fired">Уволенные сотрудники</a> </li>
            </ul>
        </li>
        <li <%if (from === 'courses'){%>class="active"<%}%>>
            <a href="/course"><i class="fa fa-th-large"></i><span class="nav-label">Курсы</span> </a>
        </li>
        <li <%if(from === 'specialities'){%>class="active"<%}%>>
            <a href="/speciality"><i class="fa fa-th-large"></i><span class="nav-label">Специальности</span> </a>
        </li>
        <li <%if (from === 'qualifications'){%>class="active"<%}%>>
            <a href="/qualification"><i class="fa fa-th-large"></i><span class="nav-label">Квалификации</span> </a>
        </li>
        <li>
            <a href="#"><i class="fa fa-th-large"></i><span class="nav-label">Пользователь</span> </a>
            <ul class="nav nav-second-level">
                <li><a href="/profile">Редактировать профиль</a></li>
                <li><a href="/change">Сменить пароль</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Выход</a></li>
            </ul>
        </li>
        <li>
            <a href="/admin/logout">
                <i class="fa fa-sign-out"></i> Выход
            </a>
        </li>
    </ul>
</nav>
<body>
    <div class="row">
                    <div class="col-lg-12">
                        <h4>Редактирование профиля</h4>
                    </div>
                    <div class="content">
                        <form id="updateprofile" action="/profile" method="post" class="form-horizontal">

                <div class="form-group">
                    <label class="col-sm-3 control-label" for="=lastName">Фамилия</label>
                    <div class="col-sm-9">
                        <input id="=lastName" type="text" class="form-control" name="lastName" value="<%=admin.lastName%>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="firstName">Имя</label>
                    <div class="col-sm-9">
                        <input id="firstName" type="text" class="form-control" name="firstName" value="<%=admin.firstName%>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="middleName">Отчество</label>
                    <div class="col-sm-9">
                        <input id="middleName" type="text" class="form-control" name="middleName" value="<%=admin.middleName%>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="Post">Должность</label>
                    <div class="col-sm-9">
                        <select size="1" id="Post" class="form-control" name="Post">
                            <option disabled>Укажите должность которую вы занимаете</option>
                            <option value="Директор">Директор</option>
                            <option value="HR-менеджер">HR-менеджер</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label" for="username">Email</label>
                    <div class="col-sm-9">
                        <input id="username" type="email" class="form-control" name="username" value="<%=admin.username%>">
                    </div>
                </div>
                <input class=" btn btn-lg btn-primary btn-block" type="submit" value="Сохранить изменения">
            </form>
        </div>
    </div>
</body>

<script src="/plugins/jQuery-validation/dist/jquery.validate.min.js"></script>
<script>
    jQuery.validator.addMethod("lattersonly", function(value, element){
        return this.optional(element) || /^[а-яА-ЯёЁa-zA-Z-]+$/i.test(value);
    }, "Это поле должно содержать тоько буквы");
    jQuery.extend(jQuery.validator.messages,{
        required: "Это поле должно быть заполнено",
        email: "Введите правильный адрес электронной почты"
    });
    $(document).ready(function(){
       $("#updateprofile").validate({
           rules:{
               lastName:{
                   lettersonly: true,
                   required: true
               },
               firstName:{
                   lettersonly: true,
                   required: true
               },
               middleName:{
                   lettersonly: true,
                   required: true
               },
               username:{
                   required: true,
                   email: true
               },
               Post:{
                   required: true
               }
           },
           highlight: function(element){
               $(element).closest('.form-group').addClass('has-error');
           },
           unhighlight: function(element){
               $(element).closest('.form-group').removeClass('has-error');
           },
           errorElement: 'span',
           errorClass: 'help-block',
           errorPlacement: function(error, element){
               if (element.parent('.input-group').length){
                   error.insertAfter(element.parent());
               } else {
                   error.insertAfter(element);
               }
           }
       });
    });
</script>
</html>
