<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TraStaDev</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="top-navigation">
<div class="header-wrap">
    <div id="header">
        <div class="row border-left white">
            <nav class="nav static-top" role="navigation">
                <div class="header nav">
                    <h1>
                        <a href="#" class="width-drop" style="border-left:solid 5px; position: fixed; left: 10px ">
                            TraStaDev - обучение веб-программированию на NodeJS
                        </a>
                    </h1>
                    <input type="button" value="Войти" onclick="">
                </div>
             </nav>
        </div>
    </div>
</div>
</body>
</html>