html, body
{
    padding: 0;
    margin: 0;
}
body {
    background-color: #f9f9f9;
    font-family: Arial, Helvetica, Verdana;
    font-size: 14px;
    line-height: 22px;
    color: #333;
    -webkit-text-size-adjust: none;
}

p
{
    margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited
{
    color: #333;
    text-decoration: none;
}

a:hover {
    background-color:#3E3E3E;
}

#page nav
{
    display: none;
}

#headerm
{
    background: url(../images/bg-header.png) no-repeat 50% 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 0 50px;
}
#headerm a
{
    background: center center no-repeat transparent;
    background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 10px;
}

#content,
.content
{
    padding: 20px;
}