<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TraStaDev</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/plugins/jQuery.mmenu-master/dist/css/jquery.mmenu.css" />
    <link type="text/css" rel="stylesheet" href="/css/menustyle.css" />
    <link href="/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="/plugins/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="/plugins/jQuery.mmenu-master/dist/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });
    </script>

    <!--DataTables-->
    <link href="/plugins/bower_components/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/plugins/bower_components/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/plugins/bower_components/DataTables/media/css/dataTables.jqueryui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

</head>

<div id="headerm">
    <a href="#menu"></a>
    <strong class="font-bold"><%= user.lastName+' '+user.firstName %></strong>
</div>
<nav id="menu">
    <ul>
        <% if(typeof from == 'undefined'){from = null}%>
        <li <% if(from === 'user' || from === 'userfired'){%>class="active"<%}%>>
            <a href="/user"><i class="fa fa-th-large"></i><span class="nav-label">Учебный план</span> </a>
        </li>
        <li <%if (from === 'courses'){%>class="active"<%}%>>
            <a href="/user/course"><i class="fa fa-th-large"></i><span class="nav-label">Курсы</span> </a>
        </li>
        <li <% if (from=== 'event') {%>class="active"<%}%>>
            <a href="#"><i class="fa fa-th-large"></i><span class="nav-label">Мероприятия</span> </a>
            <ul class="nav nav-second-level">
                <li><a href="/user/event/my">Мои мероприятия</a></li>
                <li><a href="/user/event/available">Доступные мероприятия</a> </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-th-large"></i><span class="nav-label">Пользователь</span> </a>
            <ul class="nav nav-second-level">
                <li><a href="/user/profile">Профиль</a></li>
                <li><a href="/user/change">Сменить пароль</a></li>
                <li class="divider"></li>
                <li><a href="/user/logout">Выход</a></li>
            </ul>
        </li>
        <li>
            <a href="/user/logout">
                <i class="fa fa-sign-out"></i> Выход
            </a>
        </li>
    </ul>
</nav>
<body>
<div class="row">
    <div class="col-lg-12">
        <h4>Список изучаемых курсов</h4>
        <div style="float: right; margin-top: -25px; ">
            <a class="btn btn-primary btn-xs" href="/user/plan/create">Выбрать курс</a>
        </div>
        <div class="content">
            <table id="example" class="table table-striped table-bordered dataTables_wrapper">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Тема</th>
                    <th>Специализация</th>
                    <th>Квалификация</th>
                    <th>Дата начало</th>
                    <th>Дата завершения</th>
                    <th>Результат</th>
                </tr>
                </thead>
                <tbody>
                <%if (plan != null || course!= 'undefined'){%>
                <%for(var i=0; i<plan.length; i++){%>
                <tr>
                    <td><a href="/user/plan/details/<%= plan[i]._id%>"><%=course[i].title%></a></td>
                    <td><%= course[i].topic%></td>
                    <td><%= speciality[i].name%></td>
                    <td><%= qualification[i].name%></td>
                    <td><%if(plan[i].started){%>
                    <%= plan[i].started%>
                    <%}%></td>
                    <td><%if(plan[i].deadline){%>
                    <%= plan[i].deadline.toLocaleString("ru")%>
                    <%}%></td>
                    <td><%if(plan[i].result){%>
                    <%= plan[i].result%>
                    <%}%></td>
                </tr>
                <%}%>
                <%}%>
                </tbody>

            </table>
        </div>
    </div>
</div>
<script src="/plugins/bower_components/DataTables/media/js/jquery.dataTables.js"></script>
<script src="/plugins/bower_components/DataTables/media/js/dataTables.bootstrap.js"></script>
<script>
    $(document).ready(function(){
        $('#example').dataTable();
    })
</script>
</body>
</html>