<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TraStaDev</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

</head>

<body class="top-navigation">
<div class="header-wrap">
    <div id="header">
        <div class="row border-left white">
            <nav class="nav static-top" role="navigation">
                <div class="header nav">
                    <h1>
                        <a href="#" class="width-drop" style="border-left:solid 5px; position: fixed; left: 10px ">
                            TraStaDev - обучение веб-программированию на NodeJS
                        </a>
                    </h1>
                </div>
        <div class="heading-box animated fadeInDown" style="margin-top: 15%">
            <div>
                <div class="tab-content">
                    <form id="loginUserForm"  class="login-form" role="form" action="/" method="post">
                        <div class="form-group">
                            <input id="identifier" type="text" name="username" class="form-control"  placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input id="password" type="password" name="password" class="form-control" placeholder="Пароль">
                        </div>
                        <button type="submit" class="btn btn-primary block" style="width:100%">Войти</button>
                        <a class="text-right" href="/reset">
                            <small>Забыли пароль?</small>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>