<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TraStaDev</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/plugins/jQuery.mmenu-master/dist/css/jquery.mmenu.css" />
    <link type="text/css" rel="stylesheet" href="/css/menustyle.css" />
    <link href="/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="/plugins/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="/plugins/jQuery.mmenu-master/dist/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });
    </script>

</head>

<div id="headerm">
    <a href="#menu"></a>
    <strong class="font-bold"><%= user.lastName+' '+user.firstName %></strong>
</div>
<nav id="menu">
    <ul>
        <% if(typeof from == 'undefined'){from = null}%>
        <li <% if(from === 'user' || from === 'userfired'){%>class="active"<%}%>>
            <a href="/user"><i class="fa fa-th-large"></i><span class="nav-label">Учебный план</span> </a>
        </li>
        <li <%if (from === 'courses'){%>class="active"<%}%>>
            <a href="/user/course"><i class="fa fa-th-large"></i><span class="nav-label">Курсы</span> </a>
        </li>
        <li>
            <a href="#"><i class="fa fa-th-large"></i><span class="nav-label">Пользователь</span> </a>
            <ul class="nav nav-second-level">
                <li><a href="/user/profile">Профиль</a></li>
                <li><a href="/user/change">Сменить пароль</a></li>
                <li class="divider"></li>
                <li><a href="/user/logout">Выход</a></li>
            </ul>
        </li>
        <li>
            <a href="/user/logout">
                <i class="fa fa-sign-out"></i> Выход
            </a>
        </li>
    </ul>
</nav>
<body>
<div class="row" >
    <div class="col-lg-12">
        <div class="title-box">
            <h5>Тест:<%= course.title%></h5>
        </div>
    </div>
    <div>
        <iframe src=<%= course.test%>?embedded=true" width="98.5%" height="500" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>
    </div>
</div>
</body>
</html>