<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TraStaDev</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/plugins/jQuery.mmenu-master/dist/css/jquery.mmenu.css" />
    <link type="text/css" rel="stylesheet" href="/css/menustyle.css" />
    <link href="/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="/plugins/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="/plugins/jQuery.mmenu-master/dist/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });
    </script>

    <!--DataTables-->
    <link href="/plugins/bower_components/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/plugins/bower_components/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/plugins/bower_components/DataTables/media/css/dataTables.jqueryui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

</head>

<div id="headerm">
    <a href="#menu"></a>
    <strong class="font-bold"><%= user.lastName+' '+user.firstName %></strong>
</div>
<nav id="menu">
    <ul>
        <% if(typeof from == 'undefined'){from = null}%>
        <li <% if(from === 'user' || from === 'userfired'){%>class="active"<%}%>>
            <a href="/user"><i class="fa fa-th-large"></i><span class="nav-label">Учебный план</span> </a>
        </li>
        <li <%if (from === 'courses'){%>class="active"<%}%>>
            <a href="/user/course"><i class="fa fa-th-large"></i><span class="nav-label">Курсы</span> </a>
        </li>
        <li <% if (from=== 'event') {%>class="active"<%}%>>
            <a href="#"><i class="fa fa-th-large"></i><span class="nav-label">Мероприятия</span> </a>
            <ul class="nav nav-second-level">
                <li><a href="/user/event/my">Мои мероприятия</a></li>
                <li><a href="/user/event/available">Доступные мероприятия</a> </li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-th-large"></i><span class="nav-label">Пользователь</span> </a>
            <ul class="nav nav-second-level">
                <li><a href="/user/profile">Профиль</a></li>
                <li><a href="/user/change">Сменить пароль</a></li>
                <li class="divider"></li>
                <li><a href="/user/logout">Выход</a></li>
            </ul>
        </li>
        <li>
            <a href="/user/logout">
                <i class="fa fa-sign-out"></i> Выход
            </a>
        </li>
    </ul>
</nav>
<body>
<div class="row">
    <div class="col-lg-12">
        <div class="title-box">
            <h4>Добавить свое мероприятие</h4>
        </div>
        <div class="content">
            <form id="eventForm" action="/user/event/create" method="post">
                <div class="form-horizontal">

                    <div class="form-group<%if (typeof error != 'undefined' && error.title) {%> has-error<%}%>">
                        <label class="control-label col-md-2" for="title">Название мероприятия</label>
                        <div class="col-md-10">
                            <input class="form-control" id="title" name="title" type="text" value="">
                            <%if (typeof error != 'undefined' && error.title) {%>
                            <%error.title.forEach(function(err) {%>
                            <span id="title-Error" class="help-block">
                                <%= err.message%>
                            </span>
                            <%})%>
                            <%}%>
                        </div>
                    </div>

                    <div class="form-group<%if (typeof error != 'undefined' && error.description){%> has-error<%}%>">
                        <label class="control-label col-md-2" for="description">Описание мероприятия</label>
                        <div class="col-md-10">
                            <textarea class="form-control" id="description" name="description"></textarea>
                            <%if (typeof error != 'undefined' && error.description) {%>
                            <%error.description.forEach(function(err) {%>
                            <span id="description-Error" class="help-block">
                                <%= err.message%>
                            </span>
                            <%})%>
                            <%}%>
                        </div>
                    </div>

                    <div class="form-group<%if (typeof error != 'undefined' && error.location) {%> has-error<%}%>">
                        <label class="control-label col-md-2" for="location">Место проведения</label>
                        <div class="col-md-10">
                            <input class="form-control" id="location" name="location" type="text" value="">
                            <%if (typeof error != 'undefined' && error.location) {%>
                            <%error.location.forEach(function(err) {%>
                            <span id="location-Error" class="help-block">
                                <%= err.message%>
                            </span>
                            <%})%>
                            <%}%>
                        </div>
                    </div>

                    <div class="form-group<%if (typeof error != 'undefined' && error.start_date) {%> has-error<%}%>">
                        <label class="control-label col-md-2" for="start_date">Дата начала</label>
                        <div class="col-md-10">
                            <input class="form-control" id="start_date" name="start_date" type="datetime-local">
                            <%if (typeof error != 'undefined' && error.start_date) {%>
                            <%error.start_date.forEach(function(err) {%>
                            <span id="location-Error" class="help-block">
                                <%= err.message%>
                            </span>
                            <%})%>
                            <%}%>
                        </div>
                    </div>

                    <div class="form-group<%if (typeof error != 'undefined' && error.end_date) {%> has-error<%}%>">
                        <label class="control-label col-md-2" for="end_date">Дата окончания</label>
                        <div class="col-md-10">
                            <input class="form-control" id="end_date" name="end_date" type="datetime-local">
                            <%if (typeof error != 'undefined' && error.end_date) {%>
                            <%error.end_date.forEach(function(err) {%>
                            <span id="location-Error" class="help-block">
                                <%= err.message%>
                            </span>
                            <%})%>
                            <%}%>
                        </div>
                    </div>

                    <div class="form-group<%if (typeof error != 'undefined' && error.status) {%> has-error<%}%>">
                        <label class="control-label col-md-2" for="Статус">Статус</label>
                        <div class="col-md-10">
                            <select size="1" id="start_date" class="form-control" name="status">
                                <option disabled>Укажите статус мероприятия</option>
                                <option value="Предстоящее" >Предстоящее</option>
                                <option value="Посетил" >Посетил</option>
                                <option value="Не посетил" >Не посетил</option>
                                <option value="Отправил отчет" >Отправил отчет</option>
                            </select>
                            <%if (typeof error != 'undefined' && error.status) {%>
                            <%error.status.forEach(function(err) {%>
                            <span id="status-Error" class="help-block">
                                <%= err.message%>
                            </span>
                            <%})%>
                            <%}%>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Создать" class="btn btn-primary">
                            <a class="btn btn-primary" href="/user/event/my">Вернуться</a>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>