<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TraStaDev</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="/plugins/jQuery.mmenu-master/dist/css/jquery.mmenu.css" />
    <link type="text/css" rel="stylesheet" href="/css/menustyle.css" />
    <link href="/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="/plugins/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="/plugins/jQuery.mmenu-master/dist/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });
    </script>

    <!--DataTables-->

</head>
<div id="headerm">
    <a href="#menu"></a>
    <strong class="font-bold"><%= admin.Post+': '+admin.lastName+' '+admin.firstName %></strong>
</div>
<nav id="menu">
    <ul>
        <% if(typeof from == 'undefined'){from = null}%>
        <li <% if(from === 'users' || from === 'userfired'){%>class="active"<%}%>>
            <a href="/users"><i class="fa fa-th-large"></i><span class="nav-label">Сотрудники</span> </a>
            <ul class="nav nav-second-level">
                <li <%if(from === 'users'){%>class="active"<%}%>><a href="/users">Управление сотрудниками</a> </li>
                <li <%if(from === 'usersfired'){%>class="active"<%}%>><a href="/users/fired">Уволенные сотрудники</a> </li>
            </ul>
        </li>
        <li <%if (from === 'courses'){%>class="active"<%}%>>
            <a href="/course"><i class="fa fa-th-large"></i><span class="nav-label">Курсы</span> </a>
        </li>
        <li <%if(from === 'specialitys'){%>class="active"<%}%>>
            <a href="/speciality"><i class="fa fa-th-large"></i><span class="nav-label">Специальности</span> </a>
        </li>
        <li <%if (from === 'qualification'){%>class="active"<%}%>>
            <a href="/qualification"><i class="fa fa-th-large"></i><span class="nav-label">Квалификации</span> </a>
        </li>
        <li>
            <a href="#"><i class="fa fa-th-large"></i><span class="nav-label">Пользователь</span> </a>
            <ul class="nav nav-second-level">
                <li><a href="/profile">Редактировать профиль</a></li>
                <li><a href="/change">Сменить пароль</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Выход</a></li>
            </ul>
        </li>
        <li>
            <a href="/logout">
                <i class="fa fa-sign-out"></i> Выход
            </a>
        </li>
    </ul>
</nav>
<body>
    <div class="row">
        <div class="col-sm-7 col-sm-offset-2">
            <div class="title-box" style="padding-left: 43%">
                <h4>Пригласить сотрудника</h4>
            </div>
            <div class="content" >
                <form id="usercreateform" action="/users/create" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="lastName">Фамилия</label>
                        <div class="col-sm-9">
                            <input id="lastName" type="text" class="form-control" name="lastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="firstName">Имя</label>
                        <div class="col-sm-9">
                            <input id="firstName" type="text" class="form-control" name="firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="fiddleName">Отчество</label>
                        <div class="col-sm-9">
                            <input id="middleName" type="text" class="form-control" name="middleName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="post">Должность</label>
                        <div class="col-sm-9">
                            <select size="1" id="post" class="form-control" name="post">
                                <option disabled>Укажите должность сотрудника</option>
                                <option value="Front-end developer">Front-end developer</option>
                                <option value="Back-end developer">Back-end developer</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="speciality">Специализация</label>
                        <div class="col-sm-9">
                            <select size="1" id="speciality" class="form-control" name="speciality">
                                <option disabled>Укажите специализацию сотрудника</option>
                                <% for(var i = 0; i<specialities.length; i++) { %>
                                <option value="<%= specialities[i]._id %>" ><%= specialities[i].name %></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="qualification">Квалификация</label>
                        <div class="col-sm-9">
                            <select size="1" id="qualification" class="form-control" name="qualification">
                                <option disabled>Укажите квалификацию сотрудника</option>
                                <% for(var i = 0; i<qualifications.length; i++) { %>
                                <option value="<%= qualifications[i]._id %>" ><%= qualifications[i].name %></option>
                                <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="username">Email</label>
                        <div class="col-sm-9">
                            <input id="username" type="email" class="form-control" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="password">Пароль</label>
                        <div class="col-sm-9">
                            <input id="password" type="password" class="form-control" name="password">
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Зарегистрировать">
                </form>
            </div>
        </div>
    </div>
</body>
</html>