<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TraStaDev</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="/plugins/jQuery.mmenu-master/dist/css/jquery.mmenu.css" />
    <link type="text/css" rel="stylesheet" href="/css/menustyle.css" />
    <link href="/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="/plugins/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="/plugins/jQuery.mmenu-master/dist/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });
    </script>

    <!--DataTables-->

</head>
<div id="headerm">
    <a href="#menu"></a>
    <strong class="font-bold"><%= admin.Post+': '+admin.lastName+' '+admin.firstName %></strong>
</div>
<nav id="menu">
    <ul>
        <% if(typeof from == 'undefined'){from = null}%>
        <li <% if(from === 'users' || from === 'userfired'){%>class="active"<%}%>>
            <a href="/users"><i class="fa fa-th-large"></i><span class="nav-label">Сотрудники</span> </a>
            <ul class="nav nav-second-level">
                <li <%if(from === 'users'){%>class="active"<%}%>><a href="/users">Управление сотрудниками</a> </li>
                <li <%if(from === 'usersfired'){%>class="active"<%}%>><a href="/users/fired">Уволенные сотрудники</a> </li>
            </ul>
        </li>
        <li <%if (from === 'courses'){%>class="active"<%}%>>
            <a href="/course"><i class="fa fa-th-large"></i><span class="nav-label">Курсы</span> </a>
        </li>
        <li <%if(from === 'specialitys'){%>class="active"<%}%>>
            <a href="/speciality"><i class="fa fa-th-large"></i><span class="nav-label">Специальности</span> </a>
        </li>
        <li <%if (from === 'qualifications'){%>class="active"<%}%>>
            <a href="/qualification"><i class="fa fa-th-large"></i><span class="nav-label">Квалификации</span> </a>
        </li>
        <li>
            <a href="#"><i class="fa fa-th-large"></i><span class="nav-label">Пользователь</span> </a>
            <ul class="nav nav-second-level">
                <li><a href="/profile">Редактировать профиль</a></li>
                <li><a href="/change">Сменить пароль</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Выход</a></li>
            </ul>
        </li>
        <li>
            <a href="/logout">
                <i class="fa fa-sign-out"></i> Выход
            </a>
        </li>
    </ul>
</nav>
<body>
    <div class="row" >
        <div class="col-lg-12">
            <div class="title-box">
                <%if (userinfo != null){%>
                <h5><%= userinfo[0].lastName %> <%= userinfo[0].firstName %> <%= userinfo[0].middleName %></h5>
            </div>
            <div class="content">
                <dl class="dl-horizontal">
                    <dt>Фамилия</dt>
                    <dd><%= userinfo[0].lastName %></dd>
                    <dt>Имя</dt>
                    <dd><%= userinfo[0].firstName %></dd>
                    <dt>Отчество</dt>
                    <dd><%= userinfo[0].middleName %></dd>
                    <dt>Email</dt>
                    <dd><%= userinfo[0].username %></dd>
                    <dt>Должность</dt>
                    <dd><%= userinfo[0].post %></dd>
                    <dt>Специализация</dt>
                    <dd><%= userinfo[0].speciality %></dd>
                    <dt>Квалификация</dt>
                    <dd><%= userinfo[0].qualification %></dd>
                </dl>
                <a class="btn btn-success" href="/plan/<%= userinfo[0]._id%>">Учебный план</a>
                <a class="btn btn-success" href="/users/update/<%= userinfo[0]._id %>">Редактировать</a>
                <a class="btn btn-success" href="/users/career/<%= userinfo._id %>">Карьера</a>
                <a class="btn btn-success" href="/users">Вернуться к списку сотрудников</a>
            </div>
            <%}%>
        </div>
    </div>
</body>
</html>