<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TraStaDev</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css">
    <link type="text/css" rel="stylesheet" href="/plugins/jQuery.mmenu-master/dist/css/jquery.mmenu.css" />
    <link type="text/css" rel="stylesheet" href="/css/menustyle.css" />
    <link href="/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="/plugins/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="/plugins/jQuery.mmenu-master/dist/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });
    </script>

    <!--DataTables-->

</head>
<div id="headerm">
    <a href="#menu"></a>
    <strong class="font-bold"><%= admin.Post+': '+admin.lastName+' '+admin.firstName %></strong>
</div>
<nav id="menu">
    <ul>
        <% if(typeof from == 'undefined'){from = null}%>
        <li <% if(from === 'users' || from === 'userfired'){%>class="active"<%}%>>
            <a href="/users"><i class="fa fa-th-large"></i><span class="nav-label">Сотрудники</span> </a>
            <ul class="nav nav-second-level">
                <li <%if(from === 'users'){%>class="active"<%}%>><a href="/users">Управление сотрудниками</a> </li>
                <li <%if(from === 'usersfired'){%>class="active"<%}%>><a href="/users/fired">Уволенные сотрудники</a> </li>
            </ul>
        </li>
        <li <%if (from === 'courses'){%>class="active"<%}%>>
            <a href="/course"><i class="fa fa-th-large"></i><span class="nav-label">Курсы</span> </a>
        </li>
        <li <%if(from === 'specialitys'){%>class="active"<%}%>>
            <a href="/speciality"><i class="fa fa-th-large"></i><span class="nav-label">Специальности</span> </a>
        </li>
        <li <%if (from === 'qualifications'){%>class="active"<%}%>>
            <a href="/qualification"><i class="fa fa-th-large"></i><span class="nav-label">Квалификации</span> </a>
        </li>
        <li>
            <a href="#"><i class="fa fa-th-large"></i><span class="nav-label">Пользователь</span> </a>
            <ul class="nav nav-second-level">
                <li><a href="/profile">Редактировать профиль</a></li>
                <li><a href="/change">Сменить пароль</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Выход</a></li>
            </ul>
        </li>
        <li>
            <a href="/logout">
                <i class="fa fa-sign-out"></i> Выход
            </a>
        </li>
    </ul>
</nav>
<body>
    <div class="row">
        <div class="col-lg-12">
            <div class="title-box">
                <h5>Редактирование учетной записи сотрудника</h5>
            </div>
            <div class="content">
                <form id="ucform" action="/users/update/<%= userinfo._id %>" method="post">
                    <div class="form-horizontal">

                        <div class="form-group">
                            <label class="control-label col-md-2" for="lastName">Фамилия</label>
                            <div class="col-md-10">
                                <input class="form-control" id="lastName" name="lastName" type="text" value="<%= userinfo.lastName %>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="firstName">Имя</label>
                            <div class="col-md-10">
                                <input class="form-control" id="firstName" name="firstName" type="text" value="<%= userinfo.firstName %>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="middleName">Отчество</label>
                            <div class="col-md-10">
                                <input class="form-control" id="middleName" name="middleName" type="text" value="<%= userinfo.middleName %>">
                            </div>
                        </div>

                       <div class="form-group">
                           <label class="control-label col-md-2" for="post">Должность</label>
                           <div class="col-md-10">
                               <select size="1" id="post" class="form-control" name="post" >
                                   <option disabled>Укажите должность сотрудника</option>
                                   <option value="Front-end developer">Front-end developer</option>
                                   <option value="Back-end developer">Back-end developer</option>
                               </select>
                           </div>
                       </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="speciality">Специализация</label>
                            <div class="col-md-10">
                                <select size="1" id="speciality" class="form-control" name="speciality">
                                    <option disabled>Укажите специализацию сотрудника</option>
                                    <% for(var i=0; i<specialities.length; i++) { %>
                                    <option value="<%= specialities[i]._id %>"><%= specialities[i].name %></option>
                                    <%}%>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="qualification">Квалификация</label>
                            <div class="col-md-10">
                                <select size="1" id="qualification" class="form-control" name="qualification">
                                    <option disabled>Укажите квалификацию сотрудника</option>
                                    <% for(var i = 0; i<qualifications.length; i++) { %>
                                    <option value="<%= qualifications[i]._id %>" ><%= qualifications[i].name %></option>
                                    <%}%>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-2" for="username">Email</label>
                            <div class="col-md-10">
                                <input class="form-control" id="username" name="username" type="text" value="<%= userinfo.username %>">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Сохранить" class="btn btn-primary">
                                <a class="btn btn-primary" href="/users">Вернуться к списку сотрудников</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script src="/plugins/jQuery-validation/dist/jquery.validate.min.js"></script>
<script>
    jQuery.validator.addMethod("lattersonly", function(value, element){
        return this.optional(element) || /^[а-яА-ЯёЁa-zA-Z-]+$/i.test(value);
    }, "Это поле должно содержать тоько буквы");
    jQuery.extend(jQuery.validator.messages,{
        required: "Это поле должно быть заполнено",
        email: "Введите правильный адрес электронной почты"
    });
    $(document).ready(function(){
        $("#ucform").validate({
            rules:{
                lastName:{
                    lettersonly: true,
                    required: true
                },
                firstName:{
                    lettersonly: true,
                    required: true
                },
                middleName:{
                    lettersonly: true,
                    required: true
                },
                username:{
                    required: true,
                    email: true
                },
                post:{
                    required: true
                },
                qualification:{
                    required:true
                },
                speciality:{
                    required: true
                }
            },
            highlight: function(element){
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function(element){
                $(element).closest('.form-group').removeClass('has-error');
            },
            errorElement: 'span',
            errorClass: 'help-block',
            errorPlacement: function(error, element){
                if (element.parent('.input-group').length){
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            }
        });
    });
</script>
</html>