<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TraStaDev</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/plugins/jQuery.mmenu-master/dist/css/jquery.mmenu.css" />
    <link type="text/css" rel="stylesheet" href="/css/menustyle.css" />
    <link href="css/style.css" rel="stylesheet">

    <script type="text/javascript" src="/plugins/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="/plugins/jQuery.mmenu-master/dist/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });
    </script>

    <script type="text/javascript" src="/plugins/bower_components/jquery/src/jquery.js"></script>
    <script type="text/javascript" src="/plugins/latest/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="/plugins/latest/markitup/sets/default/set.js"></script>

    <link rel="stylesheet" type="text/css" href="/plugins/latest/markitup/skins/markitup/style.css">
    <link rel="stylesheet" type="text/css" href="/plugins/latest/markitup/sets/default/style.css">

    <script type="text/javascript" >
        jQuery(document).ready(function() {
            jQuery("#markItUp").markItUp();
        });
    </script>

</head>

<div id="headerm">
    <a href="#menu"></a>
    <strong class="font-bold"><%= admin.Post+': '+admin.lastName+' '+admin.firstName %></strong>
</div>
<nav id="menu">
    <ul>
        <% if(typeof from == 'undefined'){from = null}%>
        <li <% if(from === 'users' || from === 'userfired'){%>class="active"<%}%>>
            <a href="/users"><i class="fa fa-th-large"></i><span class="nav-label">Сотрудники</span> </a>
            <ul class="nav nav-second-level">
                <li <%if(from === 'users'){%>class="active"<%}%>><a href="/users">Управление сотрудниками</a> </li>
                <li <%if(from === 'usersfired'){%>class="active"<%}%>><a href="/users/fired">Уволенные сотрудники</a> </li>
            </ul>
        </li>
        <li <%if (from === 'courses'){%>class="active"<%}%>>
            <a href="/course"><i class="fa fa-th-large"></i><span class="nav-label">Курсы</span> </a>
        </li>
        <li <%if(from === 'specialities'){%>class="active"<%}%>>
            <a href="/speciality"><i class="fa fa-th-large"></i><span class="nav-label">Специальности</span> </a>
        </li>
        <li <%if (from === 'qualifications'){%>class="active"<%}%>>
            <a href="/qualification"><i class="fa fa-th-large"></i><span class="nav-label">Квалификации</span> </a>
        </li>
        <li>
            <a href="#"><i class="fa fa-th-large"></i><span class="nav-label">Новости</span></a>
            <ul class="nav nav-second-level">
                <li><a href="/admin/news/add">Добавить новость</a></li>
                <li><a href="/admin/news/view">Посмотреть новости</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><i class="fa fa-th-large"></i><span class="nav-label">Пользователь</span> </a>
            <ul class="nav nav-second-level">
                <li><a href="/profile">Редактировать профиль</a></li>
                <li><a href="/change">Сменить пароль</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Выход</a></li>
            </ul>
        </li>
        <li>
            <a href="/user/logout">
                <i class="fa fa-sign-out"></i> Выход
            </a>
        </li>
    </ul>
</nav>

<body>
<div class="row">
    <div class="col-lg-12">
        <div class="title-box">
            <h4>Новая новость</h4>
        </div>
        <div class="content">
            <form id="newsform" action="/admin/news/create" method="post">
                <div class="form-horizontal">

                    <div class="form-group<%if (typeof error != 'undefined' && error.Ntitle) {%> has-error<%}%>">
                        <label class="control-label col-md-2" for="Ntitle">Название</label>
                        <div class="col-md-10">
                            <input class="form-control" id="Ntitle" name="Ntitle" type="text" value="">
                            <%if (typeof error != 'undefined' && error.Ntitle) {%>
                            <%error.Ntitle.forEach(function(err) {%>
                            <span id="Ntitle-error" class="help-block">
                                <%=err.message%>
                            </span>
                            <%})%>
                            <%}%>
                        </div>
                    </div>

                    <div class="form-group<%if (typeof  error != 'undefined' && error.Ntext) {%> has-error<%}%>">
                        <label class="control-label col-md-2" for="Ntext">Текс новости</label>
                        <div class="col-md-10">
                            <textarea id="markItUp"></textarea>
                            <%if (typeof error != 'undefined' && error.Ntext) {%>
                            <%error.Ntext.forEach(function(err) {%>
                            <span id="Ntext-error" class="help-block">
                                <%=err.message%>
                            </span>
                            <%})%>
                            <%}%>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Сохранить" class=" btn btn-primary">
                            <a class="btn btn-primary" href="/users">Отменить</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>