<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TraStaDev</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="/plugins/jQuery.mmenu-master/dist/css/jquery.mmenu.css" />
    <link type="text/css" rel="stylesheet" href="/css/menustyle.css" />
    <link href="/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="/plugins/tinymce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            //height: 500,
            language: "ru",
            plugins: [
                "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
            ],

            toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
            toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
            toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",

            menubar: false,
            toolbar_items_size: 'small',

            style_formats: [{
                title: 'Bold text',
                inline: 'b'
            }, {
                title: 'Red text',
                inline: 'span',
                styles: {
                    color: '#ff0000'
                }
            }, {
                title: 'Red header',
                block: 'h1',
                styles: {
                    color: '#ff0000'
                }
            }, {
                title: 'Example 1',
                inline: 'span',
                classes: 'example1'
            }, {
                title: 'Example 2',
                inline: 'span',
                classes: 'example2'
            }, {
                title: 'Table styles'
            }, {
                title: 'Table row 1',
                selector: 'tr',
                classes: 'tablerow1'
            }],

            templates: [{
                title: 'Test template 1',
                content: 'Test 1'
            }, {
                title: 'Test template 2',
                content: 'Test 2'
            }],
            content_css: [
                '//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
                '//www.tinymce.com/css/codepen.min.css'
            ]
        });
    </script>

    <script type="text/javascript" src="/plugins/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="/plugins/jQuery.mmenu-master/dist/js/jquery.mmenu.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('nav#menu').mmenu();
        });
    </script>

    <!--DataTables-->
    <link href="bower_components/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="bower_components/DataTables/media/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="bower_components/DataTables/media/css/dataTables.jqueryui.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">

</head>

<div id="headerm">
    <a href="#menu"></a>
    <strong class="font-bold"><%=admin.Post+': '+admin.lastName+' '+admin.firstName%></strong>
</div>
<nav id="menu">
    <ul>
        <% if(typeof from == 'undefined'){from = null}%>
        <li <% if(from === 'users' || from === 'userfired'){%>class="active"<%}%>>
            <a href="/users"><i class="fa fa-th-large"></i><span class="nav-label">Сотрудники</span> </a>
            <ul class="nav nav-second-level">
                <li <%if(from === 'users'){%>class="active"<%}%>><a href="/users">Управление сотрудниками</a> </li>
                <li <%if(from === 'usersfired'){%>class="active"<%}%>><a href="/users/fired">Уволенные сотрудники</a> </li>
            </ul>
        </li>
        <li <%if (from === 'courses'){%>class="active"<%}%>>
            <a href="/course"><i class="fa fa-th-large"></i><span class="nav-label">Курсы</span> </a>
        </li>
        <li <%if(from === 'specialities'){%>class="active"<%}%>>
            <a href="/speciality"><i class="fa fa-th-large"></i><span class="nav-label">Специальности</span> </a>
        </li>
        <li <%if (from === 'qualification'){%>class="active"<%}%>>
            <a href="/qualification"><i class="fa fa-th-large"></i><span class="nav-label">Квалификации</span> </a>
        </li>
        <li>
            <a href="#"><i class="fa fa-th-large"></i><span class="nav-label">Пользователь</span> </a>
            <ul class="nav nav-second-level">
                <li><a href="/profile">Редактировать профиль</a></li>
                <li><a href="/change">Сменить пароль</a></li>
                <li class="divider"></li>
                <li><a href="/logout">Выход</a></li>
            </ul>
        </li>
        <li>
            <a href="/admin/logout">
                <i class="fa fa-sign-out"></i> Выход
            </a>
        </li>
    </ul>
</nav>
<body>
<div class="row">
    <div class="col-lg-12">
        <div class="title-box">
            <h4>Создать курс</h4>
        </div>
        <div class="content">
            <form id="courseForm" action="/course/update/<%= course._id%>" method="post">
                <div class="form-horizontal">

                    <div class="form-group<%if (typeof error != 'undefined' && error.title) {%> has-error<%}%>">
                        <label class="control-label col-md-2" for="title">Название</label>
                        <div class="col-md-10">
                            <input class="form-control" id="title" name="title" type="text" value="<%= course.title%>">
                            <%if (typeof error != 'undefined' && error.title) {%>
                            <%error.title.forEach(function(err) {%>
                            <span id="title-Error" class="help-block">
                                <%= err.message%>
                            </span>
                            <%})%>
                            <%}%>
                        </div>
                    </div>

                    <div class="form-group<%if (typeof error != 'undefined' && error.topic) {%> has-error<%}%>">
                        <label class="control-label col-md-2" for="topic">Тема</label>
                        <div class="col-md-10">
                            <input class="form-control" id="topic" name="topic" type="text" value="<%= course.topic%>">
                            <%if (typeof error != 'undefined' && error.topic) {%>
                            <%error.topic.forEach(function(err) {%>
                            <span id="topic-Error" class="help-block">
                                <%= err.message%>
                            </span>
                            <%})%>
                            <%}%>
                        </div>

                        <div class="form-group<%if (typeof error != 'undefined' && error.speciality) {%> has-error<%}%>">
                            <label class="control-label col-md-2" for="speciality">Cпециальность</label>
                            <div class="col-md-10">
                                <select size="1" id="speciality" class="form-control" name="speciality">
                                    <option disabled>Укажите специализацию</option>
                                    <% for(var i = 0; i<specialities.length; i++) { %>
                                    <option value="<%= specialities[i]._id %>" ><%= specialities[i].name %></option>
                                    <%}%>
                                </select>
                                <%if (typeof error != 'undefined' && error.speciality) {%>
                                <%error.speciality.forEach(function(err) {%>
                                <span id="speciality-Error" class="help-block">
                                <%= err.message%>
                            </span>
                                <%})%>
                                <%}%>
                            </div>
                        </div>

                        <div class="form-group<%if (typeof error != 'undefined' && error.qualification) {%> has-error<%}%>">
                            <label class="control-label col-md-2" for="qualification">Квалификация</label>
                            <div class="col-md-10">
                                <select size="1" id="qualification" class="form-control" name="qualification">
                                    <option disabled>Укажите квалификацию</option>
                                    <% for(var i = 0; i<qualifications.length; i++) { %>
                                    <option value="<%= qualifications[i]._id %>" ><%= qualifications[i].name %></option>
                                    <%}%>
                                </select>
                                <%if (typeof error != 'undefined' && error.qualification) {%>
                                <%error.qualification.forEach(function(err) {%>
                                <span id="qualification-Error" class="help-block">
                                <%= err.message%>
                            </span>
                                <%})%>
                                <%}%>
                            </div>
                        </div>

                        <div class="form-group<%if (typeof error != 'undefined' && error.material) {%> has-error<%}%>">
                            <label class="control-label col-md-2" for="material">Материал</label>
                            <div class="col-md-10">
                                <textarea id="material" name="material" class="form-control" rows="10"><%= course.material%></textarea>
                                <%if (typeof error != 'undefined' && error.material) {%>
                                <%error.material.forEach(function(err) {%>
                                <span id="material-Error" class="help-block">
                                <%= err.message%>
                            </span>
                                <%})%>
                                <%}%>
                            </div>
                        </div>

                        <div class="form-group<%if (typeof error != 'undefined' && error.test) {%> has-error<%}%>">
                            <label class="control-label col-md-2" for="test">Тест</label>
                            <div class="col-md-10">
                                <textarea id="test" name="test" class="form-control" rows="10"><%= course.test%></textarea>
                                <%if (typeof error != 'undefined' && error.test) {%>
                                <%error.test.forEach(function(err) {%>
                                <span id="test-Error" class="help-block">
                                <%= err.message%>
                            </span>
                                <%})%>
                                <%}%>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Сохранить" class="btn btn-primary">
                                <a class="btn btn-primary" href="/course">Вернуться</a>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>